
{% extends "site_template.html" %}


{% block body_content %}


<div class="full_block important_message_div">
    <div class="container">
        <div class="page_title_text">
            To Developers
        </div>
    </div>
</div>


<div class="full_block">
    <div class="container">

        <div class="paragraph_title">
            <h3>
                A new paradigm of programming
            </h3>
        </div>

        <div class="paragraph">

<p>
Musicoin builds up blockchain technology, so it's in default a super open ledger to everyone. So it's also a profound opportunity to developers and in different layers.
</p>

        </div>

        <div class="paragraph_subtitle">
            <h5>
                For developers want to contribute
            </h5>
        </div>

        <div class="paragraph">

<p>
Musicoin is still new and young,there's still a lot of space to improve and consolidate the whole system. We welcome any developers to join the core dev team of the chain and help evolve the system, to make it robust, scalable and compatible. If you want to report a bug, request a feature, contribute to system or translate client applications, just please check out our in-depth guide to Contributing to Musicoin. We need all the help we can get! You can also join our community to keep up-to-date and meet other Musicoiners.
</p>

        </div>

        <div class="paragraph_subtitle">
            <h5>
                To full stack developers
            </h5>
        </div>

        <div class="paragraph">

<p>
You have a lot of chances to create something new based on Musicoin core architecture. E.g. if you want to create a web service to a group of users with subscription or membership model, you can wholesale a bunch of PPP license upfront or build a gateway to help those users to pay through Musicoin blockchain in real time.
</p>

        </div>



        <div class="paragraph_subtitle">
            <h5>
                To mobile app developers
            </h5>
        </div>

        <div class="paragraph">

<p>
Mobile app developer may have more interesting ideas with Musicoin. You don't need to run the whole chain on mobile devices(which could be very costly). Instead, you may build some proxies to help end users to acquire online/offline music experience by maintaining the protocol of Musicoin. Different kind of music apps can benefit from this, you don't need to negotiate with music labels any more, just pack and go.
</p>

        </div>


        <div class="paragraph_subtitle">
            <h5>
                To IoT device makers
            </h5>
        </div>

        <div class="paragraph">

<p>
There are always interesting devices crafted by makers. Some music devices are very smart, or with design styles. Such devices can benefit a lot from Musicoin system, they can either directly calling a URL to acquire a song, and paying through some gateway. Or simply embed some a local chain to mine coins when it's in idling. For some portable devices, it can play on-the-go and sync back to chain later when it's getting online. You imagine it.
</p>

        </div>




    </div>
</div>


{% endblock %}



