
{% extends "site_template.html" %}


{% block body_content %}


<div class="full_block important_message_div">
    <div class="container">
        <div class="page_title_text">
            How it works
        </div>
    </div>
</div>


<div class="full_block">
    <div class="container">
<!--
        <div class="paragraph_title">
            <h3>
                Why Musicians should choose Musicoin?
            </h3>
        </div>
-->

        <div class="paragraph">

<p>
The core concept of Musicoin technology is a protocol called Pay Per Play (PPP). In this protocol, every music will be not only encrypted but also bonded with a little digital contract. So once it is requested by listener to access, it indicates an agreement between artist and appreciator to pay after it is played.
</p>

<p>
    <img src="/images/ppp.png" />
</p>
<p>
To realize PPP in large scale, Musicoin adopts the blockchain technology. This technology has been validated by the 8-year long success of Bitcoin. In other word, if we put every transaction of PPP onto blockchain, it not only assures its security, but also consensus globally:
</p>

<p>
    <img src="/images/PPP_blockchain.png" />
</p>
<p>
With blockchain, PPP can become more profound because of the setting of blockchain enables music licenses to be running down and assured by different stakeholders without 3rd parties, thus payment can be paid directly to musicians.
</p>

        </div>




        <div style="height:100px;"></div>


    </div>
</div>


{% endblock %}



