
{% extends "site_template.html" %}


{% block body_content %}


<style type="text/css">
a:hover .download_whitepaper{background-color: #fff;}
.download_whitepaper{
    font-size: 1.3rem;margin:10px 0;margin-top:26px;
    padding:8px 16px;
    border:1px solid #ddd;
    display: inline-block;
    box-shadow: 2px 2px 6px #bbb;
    background-color: #f1f1f1;
}
.download_whitepaper .fa{margin-left:6px;margin-right:4px;}
.quote{border:1px solid #ccc;
    width: 90%;
    margin: auto;
    padding: 8px 14px;
    border-radius: 4px;
    margin-top: 24px;
    background-color: #fffee9;
    box-shadow: 2px 2px 2px #ddd;
}
</style>

<div id="index-banner" class="parallax-container inner_parallex">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <h5 class="header col s12 light">How it works</h5>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/howitworks.jpg" alt=""></div>
</div>



<div class="full_block">
    <div class="container">


        <div class="paragraph">


<p class="quote">
<i>"Almost 100 years later, musicians still must go through this archaic system of intermediaries developed before the advent of the internet, where the artists lose up to 86% of the proceeds from their music." -- Forbes</i>
</p>

<p>According to some recent reports, Musicians should make 4X more than today's income even just based on today's music industry scale. It means most of the musicians were exploited by the industry. What we are trying to do is to enable musicians to re-control their own rights and sustain life with their creations with the most cutting-edge technologies.</p>

<p>
The core concept of Musicoin technology is a protocol called Pay Per Play (PPP). In this protocol, every music will be not only encrypted but also bonded with a little digital contract. So once it is requested by listener to access, it indicates an agreement between artist and appreciator to pay after it is played.
</p>

<p>
    <img src="/images/ppp.png" />
</p>
<p>
To realize PPP in large scale, Musicoin adopts the blockchain technology. This technology has been validated by the 8-year long success of Bitcoin. In other word, if we put every transaction of PPP onto blockchain, it not only assures its security, but also consensus globally:
</p>

<p>
    <img src="/images/PPP_blockchain.png" />
</p>
<p>
With blockchain, PPP can become more profound because of the setting of blockchain enables music licenses to be running down and assured by different stakeholders without 3rd parties, thus payment can be paid directly to musicians.
</p>

        </div>



        <div style="height:70px;"></div>


    </div>
</div>


{% endblock %}



