
{% extends "site_template.html" %}


{% block body_content %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2 mont">Every playback born to be equal.</h1>
        <div class="row center">
          <h5 class="header col s12 light subheader">It's why we should pay per play</h5>
        </div>

        <div class="row center">
          <a href="/whitepaper.pdf" id="download-button" target="_blank" class="btn-large waves-effect waves-light blue darken-2">Read Whitepaper v0.3</a>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/abstract.jpg" alt=""></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text">
              <img class="home_icon" src="/images/musicians_icon.png" />
            </h2>
            <h5 class="center">For Musicians</h5>

            <p class="light">You never imagined being paid for their works instantly, but we do. In social media age, direct access to markets and instant transactions are everywhere. Like in Uber, Airbnb, you can find people who love your works, share them in a comprehensive manner and collect income in time.</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text">
              <img class="home_icon" src="/images/listeners_icon.png" />
            </h2>
            <h5 class="center">For Music Lovers</h5>

            <p class="light">Your support to favorite musicians and music becomes more concrete. Whenever you listen to a song, you recognize the artwork with your contribution going directly to the creators. In turn, they can have more splendid music created and shared with you.</p>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Musicoin is building a distributed network to license every music work.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/network.jpg" alt="Unsplashed background img 2"></div>
  </div>



{% endblock %}



