
{% extends "site_template.html" %}


{% block body_content %}


<div class="catalog">
    <div class="container">
        <div class="slogan">
        Every play is born to be equal.
        </div>
    </div>
</div>


<div class="full_block important_message_div">
    <div class="container">
        <div class="important_message_text">
            Musicoin is building a distributed network to license every music work.
        </div>
    </div>
</div>


<div class="full_block">
    <div class="container">


        <div class="network_illustration">

            <div class="row feature_row">
                <div class="col l6 m9 s12 feature_desc">
                    Musicians never imagined being paid for their works instantly, but we do. In social media age, direct access to markets and instant transactions are everywhere. Like in Uber, Airbnb, you can find people who love your works, share them in a comprehensive manner and collect income in time.
                </div>
                <div class="col l6 m5 s12">
                    <!--
                    <img src="http://img.wallpaperfolder.com/f/5F9C6365BCA6/backgrounds-screens-computer-cave.png" style="width:100%;" />
                    -->
                </div>
            </div>

            <div class="row feature_row">
                <div class="col l6 m3 s12">
                    <!--
                    <img src="http://static.wixstatic.com/media/871218_6a00fd1af0fa4420b8f9c6eb695af50b.jpg" style="width:100%;" />
                    -->
                </div>
                <div class="col l6 m9 s12 feature_desc">
                    For music lovers, your support to favorite musicians and music becomes more concrete. Whenever you listen to a song, you recognize the artwork with your contribution going directly to the creators. In turn, they can have more splendid music created and shared with you.
                </div>
            </div>

        </div>

    </div>
</div>


{% endblock %}



