
{% extends "site_template.html" %}


{% block body_content %}


<div id="index-banner" class="parallax-container inner_parallex">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <h5 class="header col s12 light">To Musicians</h5>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/musician.jpg" alt=""></div>
</div>



<div class="full_block">
    <div class="container">

        <div class="paragraph">

<p>
<i>
"Something is happening here, but you don’t know what it is." -- Bob Dylan</i>
</p>
<p>
For a long time, musician was a respected role in society. The music industry was led by many well-known artists, from Aretha Franklin to Rolling Stones; from Elvis Presley to The Beatles; from Lenard Cohen to Bob Dylan.  They, along with many others, formed the foundation of music industry, based on the enjoyment of creation.
</p>
<p>
However, we can't feel the same level of energy in the industry today, not because we are getting old and not keeping pace, but because the whole industry is failing to keep pace with technology, straining under the weight of 100 year old system that adds needless complexity and waste.
</p>
<p>
Many musicians can see the industry players collecting huge amounts of money everyday. However, very little of that money will be distributed to the creators.  Additionally, a royalty check may take several seasons to arrive and will be for a mysterious amount that the musician cannot understand or verify.
</p>
        </div>


        <div class="paragraph_title">
            <h4>
                Why should you choose Musicoin?
            </h4>
        </div>

        <div class="paragraph">

<p>
Musicoin is focusing on solving this issue, especially in this new age. It is a platform built upon a highly connected network maintained by artist and appreciators, not only for sharing music, but also for facilitating transactions to reinforce the direct relationship between listeners and artists.
  The core concept of Musicoin is called Pay Per Play ("PPP"). PPP means a lot for musicians because it links every playback with a micro-payment directly from the listener to the musician.  There is no intermediary that needs to be trusted (or paid) to accurately record and fairly compensate the musician.
  There is also no reason the payment to take any more than a few minutes.
</p>
<p>
With PPP, a musician can release a musical work with a digital contract bound with a license scheme. Any listener in this network execute the contract simply by playing the work through the Musicoin app.
  Once the music is played, a payment (in Musicoin) will be paid directly to the accounts described in the contract. All of this happens seamlessly and automatically.  Additionally, all transactions are available on the network, proving complete transparency to musicians and listeners alike.
</p>
        </div>


        <div class="paragraph_title">
            <h4>
                The Inevitable
            </h4>
        </div>

        <div class="paragraph">

<p>
So to musician, it has never been so transparent to understand how their music is being enjoyed through a global network. You can see your new released works being played just one minute ago by an anonymous fan, and you are paid for the playback with Musicoin.
  The PPP license can be configured to automatically distribute payment to all creators, so you don't need to worry collecting and then redistributing to band members or rights holders.
</p>
<p>
A new era has never been closer. We need musicians to act.  We need to redefine the social contract between music creators and music lovers. Musicoin can provide the network, but we need your support to make it a reality.
</p>
        </div>



        <div class="paragraph_title">
            <h4>
                Join Us
            </h4>
        </div>

        <div class="paragraph">

<p>
Join Musicoin today. Together we redefine a new experience for the industry, experiment it and spread the excitement!
</p>

        </div>


        <div style="height:70px;"></div>


    </div>
</div>


{% endblock %}



