
{% extends "site_template.html" %}


{% block body_content %}


<div class="full_block important_message_div">
    <div class="container">
        <div class="page_title_text">
            To Musicians
        </div>
    </div>
</div>


<div class="full_block">
    <div class="container">

        <div class="paragraph_title">
            <h3>
                Why Musicians should choose Musicoin?
            </h3>
        </div>

        <div class="paragraph">

<p>
For a long time, musician was a respectful role in society. The music industry was constructed by many known names of musicians. From Aretha Franklin to Rolling Stones; from Elvis Presley to The Beatles; From Lenard Cohen to Bob Dylan, etc. You name it.
</p>
<p>
However, it's not because we are getting old that we can't hear similar sounding names today. It's because the whole industry is getting rusty.
</p>
<p>
To many musicians, they can see the industry players collecting huge money every day. However, few of them can be distributed to music creators, not to mention a royalty check may take several seasons to arrive.
</p>
<p>
Musicoin is focusing on solving this issue,especially in this age. The core concept of Musicoin is called Pay Per Play. PPP means a lot for musicians because it unveils the mysterious industry. PPP will link every music playback with a micro-payment activity via a highly connected network maintained by artist and appreciators.
</p>
<p>
With PPP, musician can release a musical work with a digital contract bind a license scheme. So every listener in this network can choose to execute the contract and play, once it's played a musicoin will be paid through directly to the accounts described in the contract. Although activity is very tiny and subtle that nobody can feel it from software user interface. It could happen millions of times a day to reflect the information flow of the music consumption. All the data, nonetheless, can be seen from the network.
</p>
<p>
So to musician, it's never been so transparent. They can see their new released works being listened just one minute ago by an anonymous fans and paid with one coin for the playback and/or one tip. He/she doesn't even need to care how to distribute the income, but all described and executed in the digital contract, automatically to different stake holders including other right holders.
</p>

        </div>



        <div class="paragraph_title">
            <h3>
                Join today
            </h3>
        </div>

        <div class="paragraph">

<p>
You can be invited to be early testers. Please join our waiting list to test it out and earn coins!
</p>

        </div>


        <div style="height:100px;"></div>


    </div>
</div>


{% endblock %}



