
{% extends "site_template.html" %}


{% block body_content %}


<div id="index-banner" class="parallax-container inner_parallex">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <h5 class="header col s12 light">To Musicians</h5>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/musician.jpg" alt=""></div>
</div>



<div class="full_block">
    <div class="container">

        <div class="paragraph">

<p>
<i>
"Something is happening here, but you don’t know what it is." -- Bob Dylan</i>
</p>
<p>
For a long time, musician was a respectful role in society. The music industry was led by many well-known of them, from Aretha Franklin to Rolling Stones; from Elvis Presley to The Beatles; from Lenard Cohen to Bob Dylan, etc., and even more unknown names formed the foundation of music industry - enjoyment of creation.
</p>
<p>
However, we can't feel the same level of energy in the industry today, not because we are getting old and not keeping pace, but because the whole industry is getting rusty.
</p>
<p>
To many musicians, they can see the industry players collecting huge money every day. However, very little of them will be distributed to music creators, not to mention that a royalty check may take several seasons to arrive, with mysterious number on it that no one knows how the number is come up with.
</p>
        </div>


        <div class="paragraph_title">
            <h4>
                Why you should choose Musicoin?
            </h4>
        </div>

        <div class="paragraph">

<p>
Musicoin is focusing on solving this issue, especially in this new age. It is a platform built upon a highly connected network maintained by artist and appreciators, not only for sharing music, but also facilitating transactions to reinforce the relationship among all participants in the network. The core concept of Musicoin is called Pay Per Play ("PPP"). PPP means a lot for musicians because it links every music playback with a micro-payment activity from appreciators to musicians for this playback, unveiling the mystery of the industry.
</p>
<p>
With PPP, musician can release a musical work with a digital contract bound with a license scheme. Every listener in this network can choose to execute the contract and play the music connected. Once the music is played, a Musicoin will be paid through directly to the accounts described in the contract. Such activity is very tiny and subtle that nobody can feel it from software user interface. It could happen millions of times a day to reflect the information flow of music consumption for everyone. All the data, nonetheless, can be seen from the network.
</p>
        </div>


        <div class="paragraph_title">
            <h4>
                The Inevitable
            </h4>
        </div>

        <div class="paragraph">

<p>
So to musician, it has never been so transparent to understand how their music is being enjoyed through a global network. You can see your new released works being played just one minute ago by an anonymous fans, and you are paid for the playback and/or receive one tip right away, with Musicoin. You don't need to care about how the income is distributed, as it is described and executed in the digital contract to automatically send to different rights holders.
</p>
<p>
A new era is never been closer. We need new orders for music. We need musicians to act. We need best music in this age as those in our cultural legacy. We need new mentality to shift the rusty machine together.
</p>
        </div>



        <div class="paragraph_title">
            <h4>
                Join Us
            </h4>
        </div>

        <div class="paragraph">

<p>
Join Musicoin today. Together we redefine a new experience for the industry, experiment it and spread the excitement!
</p>

        </div>


        <div style="height:70px;"></div>


    </div>
</div>


{% endblock %}



