<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Musicoin - Every play is born to be equal</title>

    <!-- CSS  -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css?" type="text/css" rel="stylesheet" media="screen,projection"/>
    <meta name="description" content="Musicoin - Every play is born to be equal" />


{% block head_content %}{% endblock %}


</head>
<body>


{% block body_header_content %}

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo mont"><img class="logo_image" src="/images/logo.png" /> </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">How Musicoin Works</a></li>
        <li><a href="/musicians">To Musicians</a></li>
        <li><a href="/developers">To Developers</a></li>
        <li><a href="http://forum.musicoin.org" target="_blank">Forum</a></li>
        <li><a href="http://blog.musicoin.org" target="_blank">Blog</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/about">How Musicoin Works</a></li>
        <li><a href="/musicians">To Musicians</a></li>
        <li><a href="/developers">To Developers</a></li>
        <li><a href="http://forum.musicoin.org" target="_blank">Forum</a></li>
        <li><a href="http://blog.musicoin.org" target="_blank">Blog</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

{% endblock %}


{% block body_content %}{% endblock %}



{% block body_footer_content %}



  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text footer_section_padding">More from Musicoin</h5>


          <ul class="footer_section_padding">
              <li><a class="white-text" href="http://blog.musicoin.org" target="_blank">Blog</a></li>
          </ul>

        </div>

        <div class="col l4 s12">
          <h5 class="white-text footer_section_padding">Connect with us</h5>
          <ul class="links">
            <li><a class="white-text" href="https://slack.musicoin.org/" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
            <li><a class="white-text" href="https://twitter.com/musicoins" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a class="white-text" href="https://github.com/musicoin" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a class="white-text" href="mailto:musicoin@musicoin.org"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      &copy; 2016 musicoin.org  All rights reserved. Template by <a class="brown-text text-lighten-3" target="_blank" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>


{% endblock %}



{% block body_footerscript_content %}

{% endblock %}




</body>
</html>
